services:
  app:
    container_name: tagfolio-app
    build:
      context: ../..
      dockerfile: docker/app/Dockerfile
    ports:
      - "80:8080"
    volumes:
      - ../../storage:/app/storage
    restart: always # Added: Restart on failure
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}

      SPRING_DATASOURCE_URL: jdbc:oracle:thin:@${DB_HOST}:1521/XEPDB1
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT: org.hibernate.dialect.OracleDialect
      SPRING_PROFILES_ACTIVE: prod
      SPRING_JPA_HIBERNATE_DDL_AUTO: update # Changed: Allow Hibernate to update schema if needed
